@charset "UTF-8";
* {
  box-sizing: border-box;
}

a:not(.have-decoration) {
  text-decoration: none;
}

/* page-loader-styles starts */
#loaderContainer {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, #1790dc 0%, #000000 10%);
  position: fixed;
  z-index: 100000;
  display: grid;
  align-content: center;
  justify-content: center;
}

#loaderGif {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top: 5px dashed;
  border-bottom: 0;
  border-color: bisque;
  animation: loaderOut 2s linear infinite;
}

@keyframes loaderOut {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}
.preloader-done {
  animation-name: fadeIn;
  animation-duration: 3s;
}
.preloader-done #loaderContainer {
  display: none;
}

/* page-loader-styles ends */
/* layout styles starts */
body {
  position: relative;
}

/* header styles starts */
.site-header {
  background-color: #005aa7;
  opacity: 0.7;
  height: 88px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.site-header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 10;
  animation-name: fadeIn;
}
.site-header nav .nav-calendar {
  display: flex;
  align-items: center;
}
.site-header nav .nav-calendar span {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-right: 0.5em;
}
.site-header nav .nav-icon a {
  margin: 0.3rem;
  margin-bottom: 0;
  transition: 0.3s ease-in-out;
}
.site-header nav .nav-icon a:hover {
  scale: 1.2;
  margin-right: 15px;
  margin-left: 15px;
}
.site-header nav .nav-logo img {
  width: 70px;
  transition: 0.3s ease-in-out;
}
.site-header.sticky-header {
  height: 60px;
}
.site-header.sticky-header nav .nav-logo img {
  width: 50px;
}

.site-footer {
  width: 100%;
  background-color: #ffffff;
  position: relative;
}
.site-footer .footer-up {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005aa7;
  width: 100%;
}
.site-footer .footer-up a {
  width: 37px;
  height: 37px;
  display: inline-block;
  margin: 0 10px;
}
.site-footer .footer-up a img {
  width: 100%;
}
.site-footer #map, .site-footer #map iframe {
  width: 100%;
  height: 300px;
}
.site-footer .footer-down {
  background-color: #005aa7;
  width: 100%;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-footer .footerD-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-footer .footerD-right img {
  width: 20rem;
}
.site-footer .footerD-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0rem 14rem 0rem 5rem;
}
.site-footer .footerD-center a {
  color: #ffffff;
  font-size: 1.3rem;
}
.site-footer .footerD-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 2rem;
}
.site-footer .footerD-left img {
  width: 1.5rem;
}
.site-footer .footerD-left p {
  font-size: 0.8rem;
  padding-right: 0.5rem;
  color: #ffffff;
}
.site-footer .footerD-left-1 {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}
.site-footer .footerD-left-2 {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}
.site-footer .footerD-left-3 {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}
.site-footer .footerD-left-4 {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}
.site-footer .footerD-left-5 {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}

/* header styles ends */
/* layout styles ends */
/* breadcrumb starts */
.breadcrumb {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: #f3f3f3;
  border-radius: 5px;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
  list-style: none;
  direction: rtl; /* Right-to-left */
}
.breadcrumb ol li {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
}
.breadcrumb ol li a {
  color: rgb(119, 119, 119);
}
.breadcrumb ol li:not(:first-child)::before {
  content: "»"; /* Chevron symbol */
  margin: 0 8px;
}

/* breadcrumb ends */
/*single-blog starts*/
.single-blog .blog-title {
  color: rgb(0, 90, 167);
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 2em;
  margin-top: 1em;
}
@media (max-width: 576px) {
  .single-blog .blog-title {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
  }
}
.single-blog .blog-thumbnail {
  border-radius: 8px;
  width: 100%;
  max-height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-blog .blog-details .right-side p,
.single-blog .blog-details .right-side h2,
.single-blog .blog-details .right-side h3,
.single-blog .blog-details .right-side h4,
.single-blog .blog-details .right-side h5,
.single-blog .blog-details .right-side h6 {
  color: #777777;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
}
.single-blog .blog-details .left-side {
  display: flex;
}
.single-blog .blog-details .left-side img,
.single-blog .blog-details .left-side svg {
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  padding: 3px;
  margin-right: 5px;
  color: #c1c1c1;
  transition: 0.2s ease-in-out;
}
.single-blog .blog-details .left-side img:hover,
.single-blog .blog-details .left-side svg:hover {
  color: #727272;
}
.single-blog .blog-excerpt {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 12px;
}
.single-blog .blog-excerpt h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 2em;
  text-align: center;
}
.single-blog .blog-content p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.9em;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #777777;
}

/*single-blog ends*/
/* side-bar starts*/
.side-bar .side-bar-title-container {
  position: relative;
}
.side-bar .side-bar-title-container .side-bar-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  background-color: white;
  display: inline;
  padding-left: 15px;
}
.side-bar .side-bar-title-container::before {
  position: absolute;
  z-index: -1;
  content: "";
  border-bottom: 1px dashed #c1c1c1;
  top: 50%;
  left: 3px;
  right: 20px;
  transform: translateY(-50%);
}
.side-bar .side-bar-title-container::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 1px;
  background-color: #c1c1c1;
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
  left: 0;
}
.side-bar .links a {
  width: 100%;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  transition: 0.3s ease-in-out;
}
.side-bar .links a:hover {
  color: #005aa7;
}
.side-bar .links a:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed #c1c1c1;
  bottom: 0;
  left: 0;
}

/* side-bar ens*/
/* blogs-archive starts */
.blogs-archive .archive-title-container {
  position: relative;
}
.blogs-archive .archive-title-container .archive-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  background-color: white;
  display: inline;
  padding-left: 15px;
}
.blogs-archive .archive-title-container::before {
  position: absolute;
  z-index: -1;
  content: "";
  border-bottom: 1px dashed #c1c1c1;
  top: 50%;
  left: 3px;
  right: 20px;
  transform: translateY(-50%);
}
.blogs-archive .archive-title-container::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 1px;
  background-color: #c1c1c1;
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
  left: 0;
}

/* blogs-archive ends */
/* comments-section starts*/
.comments-section form label,
.comments-section form input[type=email],
.comments-section form textarea {
  display: block;
  margin-bottom: 10px;
}
.comments-section ul {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.comments-section li {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
}
.comments-section .comments-list .avatar {
  max-width: 30px;
  margin-left: 5px;
}
.comments-section .comments-list .avatar img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.comments-section .comments-list .name {
  font-weight: bold;
  margin-left: 25px;
}
.comments-section .comments-list .date {
  color: #999;
  font-size: 11px;
}
.comments-section .comments-list p {
  margin: 10px 10px;
  margin-top: 5px;
  line-height: 1.9em;
  font-size: 13px;
  color: #343434;
  text-align: justify;
  -moz-text-align-last: right;
       text-align-last: right;
}
.comments-section .comments-section-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #005aa7;
  margin-top: 25px;
  margin-bottom: 15px;
}

.comments-form {
  padding: 18px 30px;
  background: #ffffff;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.comments-form label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.comments-form input,
.comments-form textarea {
  width: 100%;
  padding: 0.5em 10px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  margin-top: 5px;
}
.comments-form input[type=submit] {
  width: 160px;
  text-align: center;
  background-color: #f49813;
  color: white;
  border-radius: 8px;
  border: 1px solid #f49813;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.comments-form input[type=submit]:hover {
  background-color: transparent;
  color: black;
}

/* comments-section ends */
/* single-blog-card starts */
.single-blog-card {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 10px;
  flex-direction: row;
}
.single-blog-card .card-thumbnail-container {
  display: block;
  flex: 3;
  padding: 0 10px;
}
@media (max-width: 576px) {
  .single-blog-card .card-thumbnail-container {
    flex: 4;
    padding-right: 0;
  }
}
.single-blog-card .card-thumbnail-container .thumbnail-img {
  width: 100%;
  border-radius: 5px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  .single-blog-card .card-thumbnail-container .thumbnail-img {
    height: 140px;
  }
}
.single-blog-card .card-body {
  flex: 7;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .single-blog-card .card-body {
    flex: 6;
    padding: 10px 0;
  }
}
.single-blog-card .card-body .card-title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #f49813;
}
.single-blog-card .card-body .card-text {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  color: #939393;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.single-blog-card .card-body .card-date {
  margin: 0;
  display: flex;
}
.single-blog-card .card-body .card-date svg {
  margin-left: 5px;
}
.single-blog-card .card-body .card-date p {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  color: #005aa7;
}
.single-blog-card:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #c1c1c1;
  bottom: 0;
  left: 0;
}

/* single-blog-card ends */
/* pagination starts */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination .single-page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #777777;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  margin: 0 5px;
  transition: 0.3s ease-in-out;
}
.pagination .single-page-link:not(.active):hover {
  border-color: black;
  color: black;
}
.pagination .single-page-link.active {
  background-color: #005aa7;
  color: white;
  cursor: not-allowed;
}
.pagination .space {
  color: #c1c1c1;
}

/* pagination ends */
/* contact-us-list starts */
.contact-us-section .contact-us-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 35px;
  color: #005aa7;
  margin-bottom: 1.5em 0;
}
.contact-us-section .contact-us-list {
  list-style-type: none;
  padding-right: 0;
}
.contact-us-section .contact-us-list .contact-us-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 20px 0;
}
.contact-us-section .contact-us-list .contact-us-item svg {
  margin-left: 8px;
}
.contact-us-section .contact-us-list .contact-us-item .contact-us-item-text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #777777;
}
.contact-us-section .contact-us-list .contact-us-item .contact-us-item-text a {
  color: #777777;
}

/* contact-us-list ends */
/* about-us-page starts */
.about-us-page .page-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 35px;
  color: #005aa7;
}
.about-us-page .page-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  /* text-align-last: right; */
}
.about-us-page .comments-form {
  box-shadow: none;
}

/* about-us-page ends *//*# sourceMappingURL=globals.css.map */