.main-taki {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
}

.col-right {
  /* width: 60%; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
}

.right-head {

  width: 100%;
  height: 30px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.04);
}

.right-head p {
  font-size: 1.5em;

  margin: 5px 100px 5px 0;
}

.right-titr {
  width: 100%;
  /* height: 80px; */

  margin: 2em 0px;
  text-align: justify;
}

.right-titr h2 {
  font-size: 3em;
  font-weight: 700;

  /* padding: 5px 100px 5px 0; */
}

.right-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.right-image img {
  width: 100%;
  height: auto;
}

.right-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.right-detail img {
  margin: 5px;
  align-items: center;
  text-align: center;
}

.right-detail-right {
  display: flex;
  align-items: center;
}

.right-detail-left {
  display: flex;
}

.right-detail-left img {
  border: 1px solid;

  border-radius: 5px;
}

.right-subTitr {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 40px;
  line-height: 40px;
  font-size: 1.8em;
  color: #005aa7;
}

.right-matn {
  text-align: center;
  margin: 0px 40px;

}

.right-matn p {
  text-align: justify;
  font-size: 1.5em;

  font-weight: 700;
  cursor: pointer;
}

.right-didgah {
  color: #005aa7;
  align-self: start;
  margin: 50px 80px 15px 0;
}

.right-didgah p {

  color: #005aa7;
  font-size: 16px;
  font-weight: 700;
}

.right-ersal {
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;

}

.right-ersal-top {
  display: flex;
  justify-content: start;
  margin: 10px;

}

.right-ersal-top-right {
  width: 50%;
  padding: 10px;
}

.right-ersal-top-right p {

  padding: 15px 0;
}

#esm {
  width: 90%;
  height: 45px;
  font-size: 1.1rem;

}

.right-ersal-top-left {
  width: 50%;
  padding: 10px;
}

.right-ersal-top-left p {
  padding: 15px 0;

}

#email {
  width: 90%;
  height: 45px;

  font-size: 1.1rem;
}

.right-ersal-center {
  width: 100%;
  margin: 6px 10px;
  padding: 10px;
}

.right-ersal-center p {
  padding: 15px 0;
}

#nazar {
  width: 90%;
  height: 150px;
  font-size: 1.1rem;
}

.right-ersal-bottom {
  display: flex;
  justify-content: end;
  padding: 20px 40px;
}

.right-ersal-bottom button {
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #f49813;
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-weight: 550;
  cursor: pointer;
}

.right-ersal-bottom button:hover {
  scale: 1.2;
  background-color: #005aa7;
}

.archive-left {
  width: 100%;
  height: auto;
  padding-top: 10%;
}

.archive-left-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;


}

.archive-left-list h3 {
  font-size: 2em;
  font-weight: 700;
  /* padding: 40px 4px; */

  cursor: pointer;
  opacity: 0.8;
  text-align: justify;
  margin: 0.1em;
}

.archive-left-list p {
  font-size: 0.9rem;

}

.archive-left-list h3:hover {
  color: #005bc5;
  scale: 1.2;
  background-color: rgba(25, 72, 229, 0.4);

  transition: 1s;
}